In [ ]:
import pandas as pd

##Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

-если источник traffic_source равен yandex или google, то в source_type ставится organic

-для источников paid и email из России - ставим ad

-для источников paid и email не из России - ставим other

-все остальные варианты берем из traffic_source без изменений

In [ ]:
log = pd.read_csv('visit_log.csv', sep = ';')

In [ ]:
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

**С помощью метода loc фильтруем данные и присваиваем новому столбцу 'source_type' соответствующие значения**

In [ ]:
log.loc[log['traffic_source'].isin(['yandex','google']), 'source_type'] = 'organic'
log.loc[(log['traffic_source'].isin(['paid','email'])) & (log['region'] == 'Russia') , 'source_type'] = 'ad'
log.loc[(log['traffic_source'].isin(['paid','email'])) & (log['region'] != 'Russia') , 'source_type'] = 'other'
log.loc[log['source_type'].isnull() , 'source_type'] = log['traffic_source']

In [ ]:
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

##Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис.

Выполните следующие действия:

-Прочитайте содержимое файла с датафрейм

-Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [ ]:
urls = pd.read_table('URLs.txt')

In [ ]:
urls.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

**Импортируем библиотеку ругулярных выражений и создаем шаблон**

In [ ]:
import re

In [ ]:
pattern = r'\/\d{8}\-'

**Фильтруем данные файла**

In [ ]:
urls[urls['url'].str.contains(pattern)]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

##Задание 3

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. 

Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок.

Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [ ]:
ratings = pd.read_csv('ratings.csv')

In [ ]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

**Добавим столбец с количеством оценок для каждого пользователя**

In [ ]:
ratings['count_ratings'] = ratings['userId'].map(ratings.groupby('userId')['rating'].count())

In [ ]:
ratings.head()

   userId  movieId  rating   timestamp  count_ratings
0       1       31     2.5  1260759144             20
1       1     1029     3.0  1260759179             20
2       1     1061     3.0  1260759182             20
3       1     1129     2.0  1260759185             20
4       1     1172     4.0  1260759205             20

**Отфильтруем полученный датафрейм и оставим только пользователей с количеством оценок больше 100**

In [ ]:
ratings_100 = ratings.loc[ratings['count_ratings'] > 100]

In [ ]:
ratings_100.head()

     userId  movieId  rating  timestamp  count_ratings
147       4       10     4.0  949810645            204
148       4       34     5.0  949919556            204
149       4      112     5.0  949810582            204
150       4      141     5.0  949919681            204
151       4      153     4.0  949811346            204

**Расчитаем минимальное и максимальное значения столбца 'timestamp' и добавим соответствующие стольбцы в датафрейм**

In [ ]:
ratings_100['min_timestamp'] = ratings['userId'].map(ratings.groupby('userId')['timestamp'].min())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
ratings_100.head()

     userId  movieId  rating  timestamp  count_ratings  min_timestamp
147       4       10     4.0  949810645            204      949778714
148       4       34     5.0  949919556            204      949778714
149       4      112     5.0  949810582            204      949778714
150       4      141     5.0  949919681            204      949778714
151       4      153     4.0  949811346            204      949778714

In [ ]:
ratings_100['max_timestamp'] = ratings['userId'].map(ratings.groupby('userId')['timestamp'].max())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
ratings_100.head()

,userId,movieId,rating,timestamp,count_ratings,min_timestamp,max_timestamp
147,4,10,4.0,949810645,204,949778714,949982274
148,4,34,5.0,949919556,204,949778714,949982274
149,4,112,5.0,949810582,204,949778714,949982274
150,4,141,5.0,949919681,204,949778714,949982274
151,4,153,4.0,949811346,204,949778714,949982274

**Рассчитаем время жизни каждого клиента**

In [ ]:
ratings_100['Lifetime_Value']= ratings_100['max_timestamp'] - ratings_100['min_timestamp']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
ratings_100.head()

,userId,movieId,rating,timestamp,count_ratings,min_timestamp,max_timestamp,Lifetime_Value
147,4,10,4.0,949810645,204,949778714,949982274,203560
148,4,34,5.0,949919556,204,949778714,949982274,203560
149,4,112,5.0,949810582,204,949778714,949982274,203560
150,4,141,5.0,949919681,204,949778714,949982274,203560
151,4,153,4.0,949811346,204,949778714,949982274,203560

**Приведем столбец 'Lifetime_Value', который показывает время жизни клиента, в более привычный формат,в формат дней, часов,минут и отобразим эти данные в новом столбце 'LTV'**

In [ ]:
ratings_100['LTV'] = pd.to_timedelta(ratings_100['Lifetime_Value'] * 10**9)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
ratings_100.head()

,userId,movieId,rating,timestamp,count_ratings,min_timestamp,max_timestamp,Lifetime_Value,LTV
147,4,10,4.0,949810645,204,949778714,949982274,203560,2 days 08:32:40
148,4,34,5.0,949919556,204,949778714,949982274,203560,2 days 08:32:40
149,4,112,5.0,949810582,204,949778714,949982274,203560,2 days 08:32:40
150,4,141,5.0,949919681,204,949778714,949982274,203560,2 days 08:32:40
151,4,153,4.0,949811346,204,949778714,949982274,203560,2 days 08:32:40

**Оставим только столбцы с времеменем жизни пользователей, удалим дубликаты и рассчитаем среднее время жизни всех пользователей**

In [ ]:
user_LTV = ratings_100[['userId', 'Lifetime_Value','LTV']]

In [ ]:
user_LTV.head()

     userId  Lifetime_Value             LTV
147       4          203560 2 days 08:32:40
148       4          203560 2 days 08:32:40
149       4          203560 2 days 08:32:40
150       4          203560 2 days 08:32:40
151       4          203560 2 days 08:32:40

In [ ]:
user_LTV = user_LTV.drop_duplicates(subset=['userId', 'Lifetime_Value','LTV'], keep='first')

In [ ]:
user_LTV.head()

      userId  Lifetime_Value                LTV
147        4          203560    2 days 08:32:40
583        8           85187    0 days 23:39:47
962       15       471393496 5455 days 22:38:16
2691      17            8053    0 days 02:14:13
3105      19            5282    0 days 01:28:02

In [ ]:
user_LTV['Lifetime_Value'].mean()

40080507.4496124

In [ ]:
user_LTV['LTV'].mean()

Timedelta('463 days 21:28:27.449612408')

##Задание 4

Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе Материалы для лекции «Продвинутый pandas» ---- Ноутбуки к лекции «Продвинутый pandas»).

Необходимо сформировать две таблицы:

-таблицу с тремя типами выручки для каждого client_id без указания адреса клиента

-аналогичную таблицу по типам выручки с указанием адреса клиента

### К домашнему заданию
Дана статистика услуг перевозок клиентов компании по типам:
- rzd - железнодорожные перевозки
- auto - автомобильные перевозки
- air - воздушные перевозки
- client_base - адреса клиентов

In [ ]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

In [ ]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

In [ ]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

In [ ]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

**Создаем таблицу с тремя типами выручки для каждого client_id без указания адреса клиента с помощью соединения таблиц**

In [ ]:
df = rzd.merge(auto , on = 'client_id' , how = 'outer')

In [ ]:
user_type_revenue = df.merge(air , on = 'client_id' , how = 'outer' )

In [ ]:
user_type_revenue

   client_id  rzd_revenue  auto_revenue  air_revenue_x  air_revenue_y
0        111       1093.0           NaN            NaN            NaN
1        112       2810.0           NaN            NaN            NaN
2        113      10283.0       57483.0            NaN            NaN
3        114       5774.0          83.0            NaN            NaN
4        115        981.0         912.0           81.0           81.0
5        116          NaN        4834.0            4.0            4.0
6        117          NaN          98.0           13.0           13.0
7        118          NaN           NaN          173.0          173.0

**Создаем аналогичную таблицу по типам выручки с указанием адреса клиента**

In [ ]:
user_address = user_type_revenue.merge(client_base, on = 'client_id', how = 'left')

In [ ]:
user_address

,client_id,rzd_revenue,auto_revenue,air_revenue_x,air_revenue_y,address
0,111,1093.0,NaN,NaN,NaN,Комсомольская 4
1,112,2810.0,NaN,NaN,NaN,Энтузиастов 8а
2,113,10283.0,57483.0,NaN,NaN,Левобережная 1а
3,114,5774.0,83.0,NaN,NaN,Мира 14
4,115,981.0,912.0,81.0,81.0,ЗЖБИиДК 1
5,116,NaN,4834.0,4.0,4.0,Строителей 18
6,117,NaN,98.0,13.0,13.0,Панфиловская 33
7,118,NaN,NaN,173.0,173.0,Мастеркова 4