In [1]:
import pandas as pd

##Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [2]:
ratings = pd.read_csv('ratings.csv')

In [3]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

**Напишем функцию, которая классифицирует фильмы**

In [4]:
def class_ratings(param):
  if param <= 2:
    return 'низкий рейтинг'
  elif param > 2 and param <= 4:
    return 'средний рейтинг'
  elif param == 4.5 or param == 5 :
    return 'высокий рейтинг'

**Применим функцию class_ratings к датафрейму**

In [5]:
ratings['class'] = ratings['rating'].apply(class_ratings)

In [6]:
ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

**Проверим что функция работает корректно (посчитаем отсутствующие значения)**

In [7]:
ratings['class'].isnull().sum()

0

##Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [8]:
keywords = pd.read_csv('keywords.csv')

In [9]:
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [10]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

**Напишем функцию которая сравнивает значения словаря с данными датафрейма и возвращает значения согласно условию**

In [15]:
def region(item):
  for region, citys in geo_data.items():
    for city in citys:
      if city in item:
        return region
  else:
    return 'undefined'

**Применяем функцию к датафрейму**

In [16]:
keywords['region'] = keywords['keyword'].apply(region)

In [17]:
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [18]:
keywords['region'].isnull().sum()

0

##Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

**Создаем список годов с 1950 по 2010**

In [20]:
years = [str(x) for x in range(1950,2011)]

In [21]:
years

['1950',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010']

**Считываем файлы и создаем датафреймы**

In [22]:
movies=pd.read_csv('movies.csv')

In [23]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [24]:
df_merge= ratings.merge(movies, on='movieId', how='inner')

In [25]:
movies_ratings = df_merge[['movieId','title','rating']]

In [30]:
movies_ratings.head()

   movieId                   title  rating
0       31  Dangerous Minds (1995)     2.5
1       31  Dangerous Minds (1995)     3.0
2       31  Dangerous Minds (1995)     4.0
3       31  Dangerous Minds (1995)     4.0
4       31  Dangerous Minds (1995)     3.0

**Создаем функцию согласно условию**

In [31]:
def production_year(item):
    for year in years:
      if year in str(item):
        return year
    else:
      return '1900'

**Добавляем столбец 'year' к датафрейму**

In [32]:
movies_ratings['year'] = movies_ratings['title'].apply(production_year)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
movies_ratings

        movieId                                 title  rating  year
0            31                Dangerous Minds (1995)     2.5  1995
1            31                Dangerous Minds (1995)     3.0  1995
2            31                Dangerous Minds (1995)     4.0  1995
3            31                Dangerous Minds (1995)     4.0  1995
4            31                Dangerous Minds (1995)     3.0  1995
...         ...                                   ...     ...   ...
99999     64997              War of the Worlds (2005)     2.5  2005
100000    72380                       Box, The (2009)     3.5  2009
100001      129                 Pie in the Sky (1996)     3.0  1996
100002     4736                   Summer Catch (2001)     1.0  2001
100003     6425  6th Man, The (Sixth Man, The) (1997)     1.0  1997

[100004 rows x 4 columns]

**Группируем датафрейм по году, рассчитываем среднее значение рейтинга и сортируем в порядке убывания**

In [34]:
sort_ratings = movies_ratings.groupby('year').mean('rating').sort_values(by = 'rating', ascending=False)

In [35]:
sort_ratings.head()

          movieId    rating
year
1957  2750.965190  4.014241
1972  3983.538976  4.011136
1952  4107.796053  4.000000
1954  2867.661850  3.994220
1951  2605.588477  3.983539